*body{
    background-color;: lightblue:
    padding: 0;
    margin: ;
}
.header{
    width: 1920px;
    height: 120;
    background-color: #cb7802;
}
.logo{
    width: 104px;
    height: 142px;
}
h1{
    color: blue;
    text-align: center;
}
